<a href="https://colab.research.google.com/github/amitganon/Introduction-to-Software-Engineering-Project/blob/main/314770629_208231019%D7%94%D7%A0%D7%93%D7%A1%D7%AA_%D7%A0%D7%AA%D7%95%D7%A0%D7%99%D7%9D_4_%D7%A2%D7%9D_%D7%A9%D7%A0%D7%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **מארוול**

In [ ]:
import json
import os

# Installing the Kaggle package
!pip install kaggle 

!mkdir /root/.kaggle/ 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token ={"username":"amitganon","key":"3d37cfbaf99868ba7700ca65f0bfa80d"}


# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.11.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
mkdir: cannot create directory ‘/root/.kaggle/’: File exists

In [ ]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/the-marvel-universe-social-network

In [ ]:
# download the dataset from Kaggle and unzip it 
!kaggle datasets download -d csanhueza/the-marvel-universe-social-network

Downloading the-marvel-universe-social-network.zip to /content
  0% 0.00/2.72M [00:00<?, ?B/s]
100% 2.72M/2.72M [00:00<00:00, 90.1MB/s]

In [ ]:

!unzip /content/the-marvel-universe-social-network.zip
!ls ./datasets/the-marvel-universe-social-network

Archive:  /content/the-marvel-universe-social-network.zip
  inflating: edges.csv
  inflating: hero-network.csv
  inflating: nodes.csv

In [ ]:
import pandas as pd
import numpy as np
edges= pd.read_csv('/content/edges.csv')
hero_network= pd.read_csv('/content/hero-network.csv')
nodes= pd.read_csv('/content/nodes.csv')

## Q1

In [ ]:
hero1=hero_network['hero1'].drop_duplicates()
hero2=hero_network['hero2'].drop_duplicates()
network=set(hero1.values)|set(hero2.values)
l=[]
for i in nodes.node:
  if(i not in network):
    l.append(i)
len(l)

12806

## Q2

In [ ]:
spiderF=set(hero_network[hero_network['hero1']=='SPIDER-MAN/PETER PAR']['hero2'].values)
spiderF2=set(hero_network[hero_network['hero2']=='SPIDER-MAN/PETER PAR']['hero1'].values)
friends=spiderF|spiderF2
captainF=set(hero_network[hero_network['hero1']=='CAPTAIN AMERICA']['hero2'].values)
captainF2=set(hero_network[hero_network['hero2']=='CAPTAIN AMERICA']['hero1'].values)
friends2=captainF|captainF2
mf=friends & friends2
len(mf)

922

## Q3

In [ ]:
maxlen=0;
for i in edges.hero:
  temp=len(i)
  if(temp>maxlen):
    maxlen=temp

minlen=maxlen;
for k in edges.hero:
  temp2=len(k)
  if(temp2<minlen):
    minlen=temp2

maxl=[]
minl=[]
for j in edges.hero:
  if(len(j)==maxlen):
    maxl.append(j)
  if(len(j)==minlen):
    minl.append(j)

maxunique=[]
minunique=[]

for x in maxl:
  if(x not in maxunique):
    maxunique.append(x)
for s in minl:
  if(s not in minunique):
    minunique.append(s)
minunique

['A', 'M', 'P', 'Q', 'T']

## Q4

In [ ]:
def notspiderfriens(heroname):
 spiderF=set(hero_network[hero_network['hero1']=='SPIDER-MAN/PETER PAR']['hero2'].values)
 spiderF2=set(hero_network[hero_network['hero2']=='SPIDER-MAN/PETER PAR']['hero1'].values)
 friends=spiderF|spiderF2

 heroF=set(hero_network[hero_network['hero1']==heroname]['hero2'].values)
 heroF2=set(hero_network[hero_network['hero2']==heroname]['hero1'].values)
 heroAllFriends=heroF|heroF2

 lnotFSpider=[]
 for x in heroAllFriends:
   if(x not in friends):
     lnotFSpider.append(x)
 return lnotFSpider

len(notspiderfriens('IRON MAN IV/JAMES R.'))

207

## Q5

In [ ]:
captainF=set(hero_network[hero_network['hero1']=='CAPTAIN AMERICA']['hero2'].values)
captainF2=set(hero_network[hero_network['hero2']=='CAPTAIN AMERICA']['hero1'].values)
friends=captainF|captainF2

FofF=[]
for x in friends:
  F=set(hero_network[hero_network['hero1']==x]['hero2'].values)
  F2=set(hero_network[hero_network['hero2']==x]['hero1'].values)
  for y in F:
    if(y not in FofF):
      FofF.append(y)
  for z in F2:
    if(z not in FofF):
      FofF.append(z) 
len(FofF)

6370

### **רעידות אדמה**

In [ ]:
!mkdir ./datasets/earthquake-database
!kaggle datasets download -d usgs/earthquake-database

Downloading earthquake-database.zip to /content
  0% 0.00/590k [00:00<?, ?B/s]
100% 590k/590k [00:00<00:00, 39.8MB/s]

In [ ]:
!unzip /content/earthquake-database.zip
!ls /content/datasets/earthquake-database
eq= pd.read_csv('/content/database.csv')

Archive:  /content/earthquake-database.zip
  inflating: database.csv

## Q1

In [ ]:
maxEQ=set(eq[eq['Magnitude']==max(eq.Magnitude)]['ID'])
maxEQ

{'OFFICIAL20041226005853450_30', 'OFFICIAL20110311054624120_30'}

## Q2

In [ ]:
df=eq[eq['Source']== "NC"]['Magnitude']
df.mean()

6.029803921568626

## Q3

In [ ]:
tempEQ=eq
tempEQ["year"]=tempEQ[tempEQ['Magnitude']>6]['Date']
tempEQ.year=tempEQ.year.str.slice(6)
tempEQ = tempEQ[['year','Magnitude']]
gb=tempEQ.groupby('year')

max = gb.count().max()
max= int(max)
tempGB =gb.count()
tempGB.columns=['max']
tempGB=tempGB[tempGB['max']==max]
print(tempGB)

tempEQ=eq
tempEQ["year"]=tempEQ[tempEQ['Magnitude']>9]['Date']
tempEQ.year=tempEQ.year.str.slice(6)
tempEQ = tempEQ[['year','Magnitude']]
gb=tempEQ.groupby('year')

max = gb.count().max()
max= int(max)
tempGB =gb.count()
tempGB.columns=['max']
tempGB=tempGB[tempGB['max']==max]
tempGB

      max
year
2011  163

      max
year
2004    1
2011    1

## Q4

In [ ]:
tempEQ=eq
tempEQ['hour']=tempEQ['Time']
tempEQ.hour=tempEQ.hour.str.slice(0,2)
tempEQ = tempEQ[['Time','hour']]
gb=tempEQ.groupby('hour')

max = gb.count().max()
max= int(max)
tempGB =gb.count()
tempGB.columns=['max']
tempGB=tempGB[tempGB['max']==max]
tempGB

       max
hour
13    1058

# פיפא

In [ ]:
!mkdir ./datasets/fifa19
!kaggle datasets download -d karangadiya/fifa19

Downloading fifa19.zip to /content
  0% 0.00/2.18M [00:00<?, ?B/s]
100% 2.18M/2.18M [00:00<00:00, 72.5MB/s]

In [ ]:
!unzip /content/fifa19.zip
!ls /content/datasets/fifa19
fifa= pd.read_csv('/content/data.csv')

Archive:  /content/fifa19.zip
  inflating: data.csv

## Q1

In [ ]:
fifa.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [ ]:

def strongestPlayer(nation):
  fifa1=pd.DataFrame()
  fifa1['Name']=fifa[fifa['Nationality']==nation]["Name"]
  fifa1['Strength']=fifa[fifa['Nationality']==nation]["Strength"]
  maxPlayer=fifa1['Strength'].max()
  return fifa1[fifa1['Strength']==maxPlayer]["Name"]

strongestPlayer("Brazil")
strongestPlayer("France")

1193        W. Boly
5192    H. Moukoudi
7144      Z. Diallo
8504        M. Sarr
Name: Name, dtype: object

## Q2

In [ ]:
def overallPlayer(club):
  fifa2=pd.DataFrame()
  fifa2['Overall']=fifa[fifa['Club']==club]["Overall"]
  return fifa2['Overall'].mean()
  
club=overallPlayer("Juventus")
club

82.28